name: ci
permissions:
  contents: read
on: [push, pull_request]
jobs:
  call:
    uses: smartflow-systems/SmartFlowSite/.github/workflows/sfs-ci-deploy.yml@main
    secrets: inherit
    permissions:
      contents: read
      actions: write
